.meal-select {
    padding: 20px 20px;
    margin: 0;
    border: 2px solid black;
    border-radius: 8px;

    h3 {
        display: block;
        margin: auto;
        color: black;
    }

    .select {
        display: flex;
        flex-direction: column;
        label {
            color: gray;
            margin-top: 20px;
        }
        select {
            display: block;
            width: 400px;
            float: left;
            font-size: 1.5rem;
            line-height: 1;
            font-weight: 400;
            text-align: left;
            padding: 10px 0px;
            margin: 10px auto;
            border: 2px solid black;
            border-radius: 4px;
            outline: none;
            cursor: pointer;
        }
    }

    .meal-list {
        margin: 50px;

        p {
            color: gray;
        }
        ul {
            margin: 0;
            padding: 0;
    
            li {
                list-style-type: decimal;
                text-align: left;
                color: black;
            }
        }
    }
}

@media screen and (max-width: 500px) {

    .meal-select {

        .select {

            select {
                width: 100%;
            }
        }
    }
}